* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

li {
    border: black solid 1px;
    padding: 3px;
    background-color: blanchedalmond;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.allproducts {
    margin-left: 50px;
}

.form_productName {
    margin-left: -42px;
    height: 45px;
}

#productList {
    border: black solid 1px;
    padding: 3px;
    background-color: rgb(173, 255, 167);
}

#productList>div {
    margin-bottom: 10px;
    border: black solid 1px;
    padding: 3px;
}

#reviewList {
    border: black solid 1px;
    padding: 3px;
    background-color: blanchedalmond;
}

#reviewList>div {
    margin-bottom: 10px;
    border: black solid 1px;
    padding: 3px;
}